<div [hidden]="ticketTypePriceLists.length == 0" id="dtBasicExample" 
  class="table table-striped table-bordered" 
  cellspacing="1" width="100%">
  <table>
      <thead>
          <tr>
            <th class="th-sm">Ticket type</th>
            <th class="th-sm">User type</th>
            <th class="th-sm">Ticket price</th>
          </tr>
        </thead>
      <tbody>
        <tr *ngFor="let ticket of ticketTypePriceLists; index as i">
          <td>{{ticket.Name}}</td>
          <td>{{ticket.UserType}}</td>
          <td>{{ticket.Price}}</td>
        </tr>
      </tbody>
  </table>
</div>