.side-list{
    height: 100vh;
    overflow-y: scroll;
    padding: 1px;
}

.wrapper{
    margin-top: 2%;
}

.document-image{
    width: 100%;
    border-radius: 3%;
}

.zoom{
    transition: transform .2s;
    z-index: 2;
}

.zoom:hover{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    background-color: gray;
}