<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  [fullScreen] = "true">
<p style="font-size: 20px; color: white">Registering...</p>
</ngx-spinner>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row" *ngIf="!registrationSuccessful">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="page-header">
          <h1>Register</h1>
        </div>
        <h6>Fields marked with "<mark>*</mark>" are required.</h6>
        <form #f="ngForm" (ngSubmit)="register(f.value, f)">
          <div class="form-group required">
              <label for="email">Email</label>
              <input required email type="text" name="email" #email="ngModel" ngModel class="form-control form-control-sm">
              <div class="alert alert-danger" *ngIf="email?.touched && !email.valid">
                <div *ngIf="email.errors.required">Email is required.</div>
                <div *ngIf="email.errors.email">Email is not valid.</div>
              </div>
            </div>
          <div class="form-group required">
            <label for="password">Password</label>
            <input 
              required 
              minlength="3"
              maxlength="30"
              type="password" name="password" appPasswordPatternValidator ngModel #password="ngModel" class="form-control form-control-sm">
            <div class="alert alert-danger" *ngIf="password?.touched && !password.valid">
              <div *ngIf="password.errors.required">Password is required.</div>
              <div *ngIf="password.errors.minlength">Password needs to be at least 3 characters long.</div>
              <div *ngIf="password.errors.maxlength">Password needs to be maximum of 30 characters long.</div>
              <div *ngIf="password.errors.notUpperCase">Password must contain at least one upper case letter.</div>
              <div *ngIf="password.errors.notLowerCase">Password must contain at least one lower case letter.</div>
              <div *ngIf="password.errors.notNumber">Password must contain at least one digit.</div>
              <div *ngIf="password.errors.notPunctuation">Password must contain at least one punctuation mark.</div>
              <div></div>
            </div>
          </div>
          <div class="form-group required">
            <label for="confirmPassword">Confirm Password</label>
            <input 
              required 
              minlength="3"
              maxlength="30"
              type="password" name="confirmPassword" appConfirmPasswordValidator="password" ngModel #confirmPassword="ngModel" class="form-control form-control-sm">
            <div class="alert alert-danger" *ngIf="confirmPassword?.touched && !confirmPassword.valid">
              <div *ngIf="confirmPassword.errors.required">Confirm Password is required.</div>
              <div *ngIf="confirmPassword.errors.minlength">Confirm Password needs to be at least 3 characters long.</div>
              <div *ngIf="confirmPassword.errors.maxlength">Confirm Password needs to be maximum of 30 characters long.</div>
              <div *ngIf="confirmPassword.errors.notEqual">Confirm Password and Confirm Password do not match.</div>
            </div>
          </div>
          <div class="form-group required">
            <label for="name">Name</label>
            <input 
              required
              minlength="3"
              maxlength="30"
              pattern="[a-zA-Z]*"
              type="text" name="name" ngModel #name="ngModel" class="form-control form-control-sm">
            <div class="alert alert-danger" *ngIf="name?.touched && !name.valid">
              <div *ngIf="name.errors.required">Name is required.</div>
              <div *ngIf="name.errors.minlength">Name needs to be at least 3 characters long.</div>
              <div *ngIf="name.errors.maxlength">Name needs to be maximum of 30 characters long.</div>
              <div *ngIf="name.errors.pattern">Name can contain only ASCII characters.</div>
            </div>
          </div>
          <div class="form-group required">
            <label for="lastname">Lastname</label>
            <input 
              required 
              minlength="3"
              maxlength="30"
              pattern="[a-zA-Z]*"
              type="text" name="lastname" #lastname="ngModel" ngModel class="form-control form-control-sm">
            <div class="alert alert-danger" *ngIf="lastname?.touched && !lastname.valid">
              <div *ngIf="lastname.errors.required">Lastname is required.</div>
              <div *ngIf="lastname.errors.minlength">Lastname needs to be at least 3 characters long.</div>
              <div *ngIf="lastname.errors.maxlength">Lastname needs to be maximum of 30 characters long.</div>
              <div *ngIf="lastname.errors.pattern">Lastname can contain only ASCII characters.</div>
            </div>
          </div>
          <div class="form-group required">
            <label for="address">Address</label>
            <input 
              required 
              minlength="3"
              maxlength="100"
              pattern="[ a-zA-Z0-9]*"
              type="text" name="address" #address="ngModel" ngModel class="form-control form-control-sm">
            <div class="alert alert-danger" *ngIf="address?.touched && !address.valid">
              <div *ngIf="address.errors.required">Address is required.</div>
              <div *ngIf="address.errors.minlength">Address needs to be at least 3 characters long.</div>
              <div *ngIf="address.errors.maxlength">Address can't be longer than 100 characters.</div>
              <div *ngIf="address.errors.pattern">Address can contain only alphanumeric characters.</div>
            </div>
          </div>
          <div class="form-group required">
            <label for="birthday">Birthday</label>
            <input 
              required 
              type="date" name="birthday" #birthday="ngModel" ngModel class="form-control form-control-sm">
            <div class="alert alert-danger" *ngIf="birthday?.touched && !birthday.valid">
              <div *ngIf="birthday.errors.required">Birthday is required.</div>
            </div>
          </div>
          <div class="form-group required">
            <label for="requestedUserType">User type</label>
            <select required name="requestedUserType" [(ngModel)]="currentUserType" class="form-control form-control-sm">
              <option *ngFor="let userType of userTypes" [ngValue]="userType">{{ userType.name }}</option>
            </select>
            <div class="alert alert-danger" *ngIf="userType?.touched && !userType.valid">
              <div *ngIf="userType.errors.required">User type is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="documentImage">Document image</label>
            <div class="custom-file">
              <input type="file" name="documentImage" ngModel #documentImage="ngModel" (change)="handleFileInput($event.target.files)" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
          </div>
          <input class="btn btn-primary" type="submit" value="Register" [disabled]="!f.valid">
        </form>     
      </div>
      <div class="col-md-4"></div>
    </div>
    <div *ngIf="registrationSuccessful">
      <h2>You have successfully registered.</h2>
      <ul>
        <li>
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/login']">Login</a>
        </li>
      </ul>
    </div>
  </div>
</div>