<div class="wrapper">
  <div class="container-fluid">
    <div class="row" *ngIf="!registrationSuccessful">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="page-header">
          <h1>Register</h1>
        </div>
        <h6>Fields marked with "<mark>*</mark>" are required.</h6>
        <form #f="ngForm" (ngSubmit)="register(f.value)">
          <div class="form-group required">
              <label for="email">Email</label>
              <input required email type="text" name="email" #email="ngModel" ngModel class="form-control form-control-sm">
              <div class="alert alert-danger" *ngIf="email?.touched && !email.valid">
                <div *ngIf="email.errors.required">Email is required.</div>
                <div *ngIf="email.errors.email">Email is not valid.</div>
              </div>
            </div>
          <div class="form-group required">
            <label for="password">Password</label>
            <input 
              required 
              minlength="3"
              maxlength="30"
              type="password" name="password" ngModel #password="ngModel" class="form-control form-control-sm">
            <div class="alert alert-danger" *ngIf="password?.touched && !password.valid">
              <div *ngIf="password.errors.required">Password is required.</div>
              <div *ngIf="password.errors.minlength">Password needs to be at least 3 characters long.</div>
              <div *ngIf="password.errors.maxlength">Password needs to be maximum of 30 characters long.</div>
            </div>
          </div>
          <div class="form-group required">
            <label for="confirmPassword">Confirm Password</label>
            <input 
              required 
              minlength="3"
              maxlength="30"
              type="password" name="confirmPassword" appConfirmPasswordValidator="password" ngModel #confirmPassword="ngModel" class="form-control form-control-sm">
            <div class="alert alert-danger" *ngIf="confirmPassword?.touched && !confirmPassword.valid">
              <div *ngIf="confirmPassword.errors.required">Password is required.</div>
              <div *ngIf="confirmPassword.errors.minlength">Password needs to be at least 3 characters long.</div>
              <div *ngIf="confirmPassword.errors.maxlength">Password needs to be maximum of 30 characters long.</div>
              <div *ngIf="confirmPassword.errors.notEqual">Password and Confirm Password do not match.</div>
            </div>
          </div>
          <div class="form-group required">
            <label for="name">Name</label>
            <input 
              required
              minlength="3"
              maxlength="30"
              pattern="[a-zA-Z]*"
              type="text" name="name" ngModel #name="ngModel" class="form-control form-control-sm">
            <div class="alert alert-danger" *ngIf="name?.touched && !name.valid">
              <div *ngIf="name.errors.required">Name is required.</div>
              <div *ngIf="name.errors.minlength">Name needs to be at least 3 characters long.</div>
              <div *ngIf="name.errors.maxlength">Name needs to be maximum of 30 characters long.</div>
              <div *ngIf="name.errors.pattern">Name can contain only ASCII characters.</div>
            </div>
          </div>
          <div class="form-group required">
            <label for="lastname">Lastname</label>
            <input 
              required 
              minlength="3"
              maxlength="30"
              pattern="[a-zA-Z]*"
              type="text" name="lastname" #lastname="ngModel" ngModel class="form-control form-control-sm">
            <div class="alert alert-danger" *ngIf="lastname?.touched && !lastname.valid">
              <div *ngIf="lastname.errors.required">Lastname is required.</div>
              <div *ngIf="lastname.errors.minlength">Lastname needs to be at least 3 characters long.</div>
              <div *ngIf="lastname.errors.maxlength">Lastname needs to be maximum of 30 characters long.</div>
              <div *ngIf="lastname.errors.pattern">Lastname can contain only ASCII characters.</div>
            </div>
          </div>
          <div class="form-group required">
            <label for="address">Address</label>
            <input 
              required 
              minlength="3"
              maxlength="100"
              pattern="[a-zA-Z0-9]*"
              type="text" name="address" #lastname="ngModel" ngModel class="form-control form-control-sm">
            <div class="alert alert-danger" *ngIf="address?.touched && !address.valid">
              <div *ngIf="address.errors.required">Address is required.</div>
              <div *ngIf="address.errors.minlength">Address needs to be at least 3 characters long.</div>
              <div *ngIf="address.errors.maxlength">Address can't be longer than 100 characters.</div>
              <div *ngIf="address.errors.pattern">Lastname can contain only alphanumeric characters.</div>
            </div>
          </div>
          <div class="form-group required">
            <label for="birthday">Birthday</label>
            <input 
              required 
              type="date" name="birthday" #lastname="ngModel" ngModel class="form-control form-control-sm">
            <div class="alert alert-danger" *ngIf="birthday?.touched && !birthday.valid">
              <div *ngIf="birthday.errors.required">Birthday is required.</div>
            </div>
          </div>
          <input class="btn btn-primary" type="submit" value="Register" [disabled]="!f.valid">
        </form>      
      </div>
      <div class="col-md-4"></div>
    </div>
    <div *ngIf="registrationSuccessful">
      <h2>You have successfully registered.</h2>
      <ul>
        <li>
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/login']">Login</a>
        </li>
      </ul>
    </div>
  </div>
</div>