<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header prices-header">
          <h2>Prices</h2>
        </div>
        <hr/>
        <div *ngFor="let ticketType of ticketTypePriceLists | keyvalue" [hidden]="ticketTypePriceLists.length == 0" >
          <div class="table-caption">
            <h4>{{ticketType.key}}</h4>
          </div>
          <table mdbTable class="blue white-text" small="true">
              <thead class="white black-text">
                <tr>
                  <th class="th-sm">Ticket type</th>
                  <th class="th-sm">Ticket price</th>
                </tr>
              </thead>
              <tbody>
                <tr mdbTableCol *ngFor="let ticket of ticketType.value">
                  <td>{{ticket.name}}</td>
                  <td>{{ticket.price}} RSD</td>
                </tr>
              </tbody>
          </table>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>