.wrapper{
    margin-top: 2%;
}

.document-image{
    width: 100%;
    border-radius: 3%;
}

.zoom{
    transition: transform .2s;
    z-index: 2;
}

.zoom:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    background-color: gray;
}

.account-overlay{
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  opacity: 0.7;
  pointer-events: none;
}