.wrapper{
    margin-top: 2%;
}

agm-map{
    height: 300px;
}

.stations-header{
    text-align: center;
}

#addStationBtn{
    float: right;  
}

#removeStationBtn{
    float: right;
}

#updateStationBtn{
    float: right;
}