.wrapper{
  margin-top: 2%;
  overflow:hidden;
  width: 100%;
}

#showScheduleBtn{
  float: right;
  margin-right: 0px;
  margin-top: 0px;
}

.schedule{
  background-color: rgb(66, 133, 244);
  color: white;
}