<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-md-3">
        <div class="page-header">
          <h2>Lines</h2>
        </div>
      </div>
      <div class="col col-md-3">
        <div class="page-header">
          <h2>Stations</h2>
        </div>
      </div>
      <div class="col col-md-3">
        <div class="page-header">
          <h2>Schedules</h2>
        </div>
      </div>
      <div class="col col-md-3">
        <div class="page-header">
          <h2>Pricelist</h2>
        </div>
      </div>
    </div>
  </div>
</div>