<div class="wrapper">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header" style="text-align: center">
              <h2>Lines</h2>
          </div>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
            <agm-map [latitude]="currentLatitude" [longitude]="currentLongitude" [zoom]="14">
              <agm-marker [animation]="BOUNCE" *ngFor="let station of allStations" [latitude]="station.latitude" [longitude]="station.longitude"
              [iconUrl]="{
                url: './../../assets/bus.svg',
                scaledSize: {
                  width: 30,
                  height: 30
                }
              }"
              [label]="{
                color: 'red',
                fontWeight: 'bold',
                text: station.name
              }"></agm-marker>
            </agm-map>
            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>
        <div class="col-md-4">
          <label for="currentPlan">Line</label>
          <select name="currentLine" [(ngModel)]="currentLine" (change)="changeLine()" class="form-control form-control-sm">
            <option *ngFor="let currentLine of allLines" [ngValue]="currentLine">{{ currentLine.lineNum }}</option>
          </select>
          <label for="currentStation">Stations</label>
          <!--https://coryrylan.com/blog/creating-a-dynamic-checkbox-list-in-angular-->            
          <form [formGroup]="updateLineStationsForm" (ngSubmit)="updateLinePlan()">
            <div class="card">
              <div class="card-block">
                <div class="card-body">
                  <div class="stations-checkbox-container">
                    <p *ngFor="let station of updateLineStationsForm.controls.stations.controls; let i = index">
                      <label formArrayName="stations">
                        <input type="checkbox" [formControlName]="i" (change)="updatePlanPathForCurrentPlan(allStations[i].id, $event.target.checked)"/>
                        {{allStations[i].name}}
                      </label>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-primary float-right" [disabled]="isUpdateButtonDisabled">Update</button>
          </form>
        </div>
      </div>
      <hr/>
      <br/>
      <br/>
      <br/>
  </div>
</div>