<div class="wrapper">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header" style="text-align: center">
              <h2>Line numbers</h2>
          </div>
          <hr/>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8">
              <agm-map [latitude]="currentLatitude" [longitude]="currentLongitude" [zoom]="14">
                  <agm-marker *ngFor="let station of allStations" [latitude]="station.latitude" [longitude]="station.longitude"></agm-marker>
              </agm-map>
          </div>
          <div class="col-md-4">
            <label for="currentPlan">Line</label>
            <select name="currentPlan" [(ngModel)]="currentPlan" (change)="changePlan()" class="form-control form-control-sm">
              <option *ngFor="let currentPlan of plans" [ngValue]="currentPlan">{{ currentPlan.lineNumber }}</option>
            </select>
            <label for="currentStation">Stations</label>
            <select name="currentStation" [(ngModel)]="currentStation"  (ngModelChange)="onClick($event)" class="form-control form-control-sm">
              <option *ngFor="let station of allStations" [ngValue]="station" >
                <button class="btn btn-primary" style="color: 'red'">{{ checkIfExist(station?.name) ? '-' : '+'}}</button>{{ station?.name }}
              </option>
            </select>
            <button class="btn btn-primary" [hidden]="checkIfExist(currentStation?.name)" (click)="addStationToPlan(currentStation?.id)">Add</button>
            <button class="btn btn-primary" [hidden]="!checkIfExist(currentStation?.name)" (click)="removeStationFromPlan(currentStation?.id)">Remove</button>
          </div>
      </div>
      <br/>
      <br/>
      <br/>
  </div>
</div>