.wrapper{
    margin-top: 2%;
}

.button {
    background-color: #4CAF50; /* Green */
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:active, button:target{
    background-color: red;
}
  
  agm-map{
    height: 400px; 
    width: 100%;
}