<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/controller']">My panel</a>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#controllerNavbar" aria-controls="controllerNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="controllerNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/controller/ticketValidation']">Ticket validation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/controller/profile']">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-md-12">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
