<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="page-header" style="text-align: center">
                    <h2>Line numbers</h2>
                </div>
                <hr/>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div>
                    <table class="table table-borderless">
                        <td>
                            <tr>
                                <button class="button button1" *ngFor="let lineNumber of lineNumbers" (click)="onLineBtnClick(lineNumber)">{{lineNumber}}</button>
                            </tr>
                        </td>
                    </table>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row" style="align-items: center">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <agm-map [latitude]="currentLatitude" [longitude]="currentLongitude" [zoom]="14" (mapClick)="placeMarker($event)">
                    <div *ngFor="let polyline of shownRoutes">
                            <agm-polyline [strokeColor]="polyline.color">
                                <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude">
                                </agm-polyline-point>
                            </agm-polyline>
                        <agm-marker *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude"></agm-marker>
                    </div>
                </agm-map>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>